body
{
    background: #666;
    font-family:sans-serif;
}
h1,h2,h3
{
    line-height: 1em;
    margin:0;
}

#game
{
    margin: 0.5%;

}

nav
{

    display:inline-block;
    width:10%;
}
nav ul
{
    padding:0;
    text-align:right;
}
nav li
{
    list-style-type:none;
    padding: 5px;
    padding-right: 10px;
}

nav .active
{
    background: #eef;
}

#content
{

    background: #eef;
    display:inline-block;
    vertical-align: top;
    width:79%;
    padding: 5px;
    
}

#status 
{
    text-align:right;
}

#status .status_data
{
    background: #f6f;
}

#viewport
{
    background: #888;
}

#viewport .page
{
    display:none;
    min-height: 150px;
}

#viewport ul
{
    list-style:none;
    padding:0;
    margin:0;
}

#viewport ul li
{
    display:inline-block;
    margin:5px;
}

#viewport ul li a,
#viewport ul li a:visited
{
    text-decoration:none;
    color:white;
    padding:1em;
    background:blue;
    display:inline-block;
}

#viewport #inventory
{
    float:right;
}

.current_page
{
    display:block !important;
}
